<div id = "header">
	<h3> Edit your Answer </h3><br><br>
</div>
<div id ="mid">
<%= form_for @answer, url: users_answer_path(@answer), method: :put do |form| %>

 <div class="field">
 <%= label_tag :description, "Question:" %>
 <%= label_tag :description, @answer.question.description %><br>
</div><br>

 <div class="field">
 <%= label_tag :description, "Answer:" %><br>
 <%= form.text_area :description, value: @answer.description %><br>
</div>

<div class="actions">
    <%= form.submit "Update" %>
</div>

<% end %>
</div>

<div id = "footer">
</div>
