<!DOCTYPE>
<html>
<head>
  <title></title>
  </html>

  <%= form_for(@answer, :url => {action: "create"}) do |form| %>
  <div id="header", style="border-bottom: 1px solid black;">
   <center>
     <p>
      <h3> Self Evaluation Questions </h3>
    </p>
  </center>
</div>
 
  <div id="mid", style="height: 800px" ;> 
    <br>
   <p>
     <%= form.label :answer, "Question1. What Has Been the Most Challenging Face of Your Work?" %><br><br>
     <%= form.label :answer, "Answer:" %><br><br>
     <%= form.text_area :answer, rows: "2", cols: "100", placeholder: "Write here your answer"%>
   </p>
   <br>

   <p>
     <%= form.label :answer, "Question2. What Has Been Your Biggest Achievement in the Given Period of Time?" %><br><br>
     <%= form.label :answer, "Answer: "%><br><br>
     <%= form.text_area :answer, rows: "2", cols: "100", placeholder: "Write here your answer"%>
   </p>
   <br>


   <p>
     <%= form.label :answer, "Question3. Which Aspect of Your Work Do You like The Most?" %><br><br>
     <%= form.label :answer, "Answer: "%><br><br>
     <%= form.text_area :answer, rows: "2", cols: "100", placeholder: "Write here your answer"%>
   </p>
   <br>


   <p>
     <%= form.label :answer, "Question4. How would you rate your performance this quarter?" %><br><br>
     <%= form.label :answer, "Answer: "%><br><br>
     <%= form.text_area :answer, rows: "2", cols: "100", placeholder: "Write here your answer"%>
   </p>
   <br>

    <p>
     <%= form.label :answer, "Question5. What is your expectation for increament?" %><br><br>
     <%= form.label :answer, "Answer: "%><br><br>
     <%= form.text_area :answer, rows: "2", cols: "100", placeholder: "Write here your answer"%>
   </p>
   <br>
    <p>
     <br>
     <br>
     <center>
     <%= form.submit ("Create")%>
   </center>
   </p>
   <% end %>
 </div>
<hr>
 <div id="footer" ">
 </div>




