<div id="header">
  <center>
    <h3>Created Questions and Answers for your self</h3>
  </center>
</div>
<div id="mid">
  <p style="text-align: right; font-size: 15px;">
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
    <table>
      <% @questions.each_with_index do |question, i| %>
      <strong>Question:</strong><%= i+1 %>
      <%= question.description %> <br>
      <strong>Answer:</strong>
      <%= question.answers.where(user_id: current_user.id).first&.description %> <br>
      <% a = question.answers&.first&.id %><br>
      <% end %>
    </table><br><br>
    <center>
      <%= link_to 'Back', users_self_evaluation_path %>
      <br>
      <%= link_to 'Give Answers For Team', users_team_evaluation_path %>
    </center>
  </div>
  <div id="footer">
  </div>


















