<div id="header">
 <center>
   <h1>Create Answers For Self-Evaluation Form </h1>
   <p style="text-align: left; font-size: 15px;">
   </div>
   <%= form_for :answer, url: users_submit_for_self_path, method: :post do |f| %>
   <div id="mid", height: 100px ;>
     <p style="text-align: right; font-size: 15px;">
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      <br>
      <%= link_to 'Back', :back%><br>
      <%= link_to 'Home', users_path(@user)%>
    </p>
  </center>
  <table>
   <% @questions.each_with_index do |question, i| %><br>
   <tr>
    <%= i+1 %> <%= question.description %><br>
    <%= label_tag :answer, "Answer:" %><br>
    <%= text_area_tag "questions[#{question.id}][description]", question.answers.where(user_id: current_user.id).first&.description,       class: "text_area", :required => true  %><br>
  </tr>
  <% end %>
</tr><br>
<%= submit_tag "Submit" %><br><br>
<%= link_to 'Answers For Team Evaluation', users_team_evaluation_path %>
</table>
</div></div>
<% end %>
<div id="footer">
</div>







  
   
  
  