<!DOCTYPE>
<html>
<head>
  <title></title>
</head>
<body style="background-image: url(BG.jpg); height: 50; width: 50; background-repeat; ">
<center>
    <h3>User's Answer</h3>
    <p style="text-align: right; font-size: 15px;">
<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
</p>

<p>
  <strong>"Question1. What Has Been the Most Challenging Face of Your Work?":</strong>
   <%= @answer.answer%>
</p>
<p>
  <strong> "Question2. What Has Been Your Biggest Achievement in the Given Period of Time?" </strong>
   <%= @answer.answer %>
</p>
<p>
  <strong> "Question3. Which Aspect of Your Work Do You like The Most?"</strong>
   <%= @answer.answer %>
</p>

<p>
  <strong>"Question4. How would you rate your performance this quarter?"</strong>
   <%= @answer.answer %>
</p>

<p>
  <strong>"Question5. What is your expectation for increament?" </strong>
  <%= @answer.answer %>
</p>

<%= link_to 'Edit Answer', edit_user_question_path(@answer) %>
<br>

</center>
</body>
</html>
 