<div id="header">
  <center>
    <h3>Your Questions and Answers</h3>
  </div>
  <div id="mid">
    <p style="text-align: right; font-size: 15px;">
     <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
   </center>
   <table>

     <% @questions.each_with_index do |question, i| %>
     <strong>Question:</strong>
     <%= question.description %>
     <br>
     
     <strong>Answer:</strong>
     <%= question.answers.first.description%> <br>
     <%= link_to 'edit', edit_users_answer_path(@question, answer)%>
      <%= link_to 'delete answer', [answer.question, answer],
               method: :delete,
               data: { confirm: 'Are you sure?' } %> <br>
   
     <br>
     <br>
     <br>
     <% end %>
   </table>
   <br>
   <br>
   <%= link_to  'back' %>
 </div>


 <div id="footer">
 </div>


















