<div id="header">
 <center>
   <h1>Fill the Team-Evaluation Form </h1>
   <p style="text-align: left; font-size: 15px;">
   </div>
   <%= form_for @answer, url: users_submit_path(), method: :post do |f| %>

   <div id="mid">
     <p style="text-align: right; font-size: 15px;">
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
    </p>
  </center>
  <table>
   <% @questions.each_with_index do |question, i| %>
   <br>
   <tr>
    <%= i+1 %> <%= question.description %><br>
    <%= label_tag :answer, "Answer:" %><br>
    <%= text_area_tag "questions[#{question.id}][description]"%>
    <br>
  </tr>
  <% end %>
</tr>
<br>
<%= submit_tag "Submit" %>
</table>
</div>
</div>
<% end %>
<div id="footer">
</div>









