<div id="header">
 <center>
  <h3> Edit Question </h3>
 </center>
</div>

<div id="mid">
<%= form_for @question, url: admin_que_path(@question), method: :put do |form|%>
    <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@question.errors.count, "error") %> prohibited
        this question from being saved:
      </h2>
      <ul>
        <% @question.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <center>
    <br /><br />
  <div class="field">
    <%= form.label :description, "Description" %><br>
    <%= form.text_area :description, autofocus: true, autocomplete: "Description", cols: "60", rows: "2" %>
  </div>
  <br />

  <div class="field">
    <%= form.label :question_type_id, "Update Question Type" %>
   <%= form.select :question_type_id, @ques.collect { |p| [ p.name, p.id ] }, autocomplete: "question_type" %> 
  </div>
  <br>

  <div class="actions">
    <%= form.submit "Update" %>
  </div>
<% end %>
</center>
</div>


<div id ="footer">
</div>





