<div id="header">
 <center>
  <h1>Welcome to Admin Index </h1>
  <p style="text-align: left; font-size: 15px;">
    <%= link_to "All Users", admin_users_path %>
  </div>
  <div id="mid">
    <p style="text-align: right; font-size: 15px;">
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
    </p>
  </center>
  <table>
    <tr>
      <h3><th>Questions</th></h3>
      <th><br></th>
      <th><br></th>
      <h3><th>Type</th></h3>
      <th><br></th>
      <th><br></th>
    </tr>
    <center>
      <% @questions.each_with_index do |question, i| %>
     <tr>
      <th><td><%= question.description %></td></th><%= i+1 %>
      <th><td><%= question.question_type.name%></td></th>
      <td><br></td>
      <td><br></td>
      <td><%= link_to 'Edit', edit_admin_que_path(question) %></td>
      <td><br></td>
      <td><br></td>
      <td><%= link_to 'Destroy',  admin_que_path(question),
      method: :delete,
      data: { confirm: 'Are you sure?' } %></td>
    </center></tr>
  <% end %>
</table><br><br>
<center>
  <%= link_to 'CreateQuestions', new_admin_que_path%>
</center>
</div>
<div id="footer">
</div>


