<div id="header">
 <center>
  <h1>Employee Details </h1>
</center>
</div>
  <div id="mid">
  <p style="text-align: left; font-size: 15px;">
    <%= link_to "All Questions", admin_ques_path %>
  </p>
  <p style="text-align: right; font-size: 15px;">
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
  </p>
    <center>
      <table>
        <tr>
          <h3><th>Employee_no.</th></h3>
          <th><br></th>
          <th><br></th>
          <h3><th>First Name</th></h3>
          <th><br></th>
          <th><br></th>
          <h3><th>Last Name</th></h3>
          <th><br></th>
          <th><br></th>
          <h3><th>Email</th></h3>
          <th><br></th>
          <th><br></th>
          <h3><th>Phone Number</th></h3>
          <th><br></th>
          <th><br></th>
          <h3><th>Gender</th></h3>
          <th><br></th>
          <th><br></th>
        </tr>
          <% @users.each_with_index do |user, i| %>
          <tr>
            <td><%= i+1 %></td>
            <td><br></td>
            <td><br></td>
            <td><%= user.fname %></td>
            <td><br></td>
            <td><br></td>
            <td><%= user.lname%></td>
            <td><br></td>
            <td><br></td>
            <td><%= user.email %></td>
            <td><br></td>
            <td><br></td>
            <td><%= user.pnumber %></td>
            <td><br></td>
            <td><br></td>
            <td><%= user.gender%></td>
            <td><br></td>
            <td><br></td>
            <td><%= link_to 'Show', admin_user_path(user) %></td>
            <td><br></td>
            <td><br></td>
           <td> <%= link_to 'Edit', edit_admin_user_path(user) %></td>
            <td><br></td>
            <td><br></td>
           <td> <%= link_to 'Destroy', admin_user_path(user),
            method: :delete,
            data: { confirm: 'Are you sure?' } %></td>
            <td><%= link_to 'Submitted Answers', users_index_for_ans_path(user_id: user.id) %> </td>
            <td><br></td>
            <td><br></td>
          </tr>
          <% end %>
        </table>
        <br>
        <br>
        <td class ="FocusOnPanel"><%= link_to 'CreateQuestions', new_admin_que_path %> </td>
        <br>
        <%#= link_to 'Back', :back%>
        <br>
      </center>
    </center>
  </div>
  <div id="footer">
  </div>

